@using GamePlay.Web.Enums
@model UserRelationViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container d-flex justify-content-center align-items-center">
    <div class="profile-card">
        <div class="d-flex text-center">
            <div class="mx-auto profile">
                <img src="@Model.User.PhotoPath" class="rounded-circle" width="80">
            </div>
        </div>
        <div class="mt-2 text-center">
            <h4 class="mb-0">@Model.User.Username</h4>
            <span class="text-muted d-block mb-2">@Model.User.Email</span>
            @if (ViewBag.IsCurrentUser)
            {
                <a class="btn btn-primary btn-sm follow" asp-controller="Users" asp-action="Edit">Edit profile</a>
            }
            else
            {
                switch (Model.RelationOption)
                {
                    case RelationOptions.DoesNotExist:
                        <a class="btn btn-primary btn-sm follow" asp-controller="Users" asp-action="Follow" asp-route-id="@Model.User.Id">Follow</a>
                        break;
                    case RelationOptions.Pending:
                        <p class="btn-sm follow text-secondary">Is Pending...</p>
                        break;
                    case RelationOptions.Friends:
                        <p class="btn-sm follow text-secondary">Friends</p>
                        break;
                    case RelationOptions.Accept:
                        <a class="btn btn-success btn-sm follow" asp-controller="Users" asp-action="BecomeFriends" asp-route-id="@Model.User.Id">Accept</a>
                        break;
                }
            }
            <div class="d-flex justify-content-between align-items-center mt-4 px-4">
                <div class="stats">
                    <h6 class="mb-0">Followers</h6>
                    <a asp-action="ShowRelations" asp-route-userId="@Model.User.Id" asp-route-isFriend="false"><span>@Model.User.FollowersCount</span></a>
                </div>
                <div class="stats">
                    <h6 class="mb-0">Friends</h6>
                    <a asp-action="ShowRelations" asp-route-userId="@Model.User.Id" asp-route-isFriend="true"><span>@Model.User.FriendsCount</span></a>
                </div>
            </div>
        </div>
    </div>
</div>