@using Microsoft.AspNetCore.Mvc.TagHelpers
@model UserDetailsViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container d-flex justify-content-center align-items-center">
    <div class="profile-card">
        <div class="d-flex text-center">
            <div class="mx-auto profile">
                <img src="@Model.User.PhotoPath" class="rounded-circle" width="80">
            </div>
        </div>
        <div class="mt-2 text-center">
            <h4 class="mb-0">@Model.User.Username</h4>
            <span class="text-muted d-block mb-2">@Model.User.Email</span>
            @if (Model.IsCurrentUser)
            {
                <a class="btn btn-primary btn-sm follow" asp-controller="Users" asp-action="Edit">Edit profile</a>
            }
            else
            {
                switch (Model.RelationOption)
                {
                    case RelationOptions.DoesNotExist:
                        <form asp-controller="Users" asp-action="Follow">
                            <input type="hidden" name="id" value="@Model.User.Id"/>
                            <input type="submit" value="Follow" class="btn btn-primary btn-sm follow"/>
                        </form>
                        break;
                    case RelationOptions.Pending:
                        <p class="btn-sm follow text-secondary">Is Pending...</p>
                        break;
                    case RelationOptions.Friends:
                        <p class="btn-sm follow text-secondary">Friends</p>
                        break;
                    case RelationOptions.Accept:
                        <form asp-controller="Users" asp-action="BecomeFriends">
                            <input type="hidden" name="id" value="@Model.User.Id"/>
                            <input type="submit" value="Accept" class="btn btn-primary btn-sm follow"/>
                        </form>
                        break;
                }
            }
            <div class="d-flex justify-content-between align-items-center mt-4 px-4">
                <div class="stats">
                    <h6 class="mb-0">Followers</h6>
                    <a asp-action="ShowRelations" asp-route-userId="@Model.User.Id" asp-route-isFriend="false">
                        <span>@Model.User.FollowersCount</span>
                    </a>
                </div>
                <div class="stats">
                    <h6 class="mb-0">Friends</h6>
                    <a asp-action="ShowRelations" asp-route-userId="@Model.User.Id" asp-route-isFriend="true">
                        <span>@Model.User.FriendsCount</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.Games.Count == 0)
{
    @if (Model.IsCurrentUser)
    {
        <h5>I don't have any games yet :(</h5>
    }
    else
    {
        <h5>@Model.User.Username does not have any games yet :(</h5>
    }
}
else
{
    @if (Model.IsCurrentUser)
    {
        <h3>My Games</h3>
    }
    else
    {
        <h3>@Model.User.Username's Games</h3>
    }
    <div class="row">
        @foreach (var item in Model.Games)
        {
            <div class="col-sm-4 mb-3">
                <div class="card h-100 text-center" onclick="Details('@item.Id')" style="cursor: pointer">
                    <img class="card-img-top" src="@item.PhotoPath" alt="Game image">
                    <div class="card-body my-auto">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">
                            From @item.MinPlayers to @item.MaxPlayers participants<br/>
                            Time: @item.MinPlayTime - @item.MaxPlayTime minutes<br/>
                            <i>Required minimum age: @item.MinAge</i><br/>
                            <strong>Average rating: @item.AverageRating.ToString("#.##")</strong>
                        </p>
                        @if (User.IsInRole("admin"))
                        {
                            <div>
                                <a class="btn btn-light" asp-action="Edit" asp-controller="Games" asp-route-id="@item?.Id">Edit</a>
                                <a class="btn btn-light" asp-action="Delete" asp-controller="Games" asp-route-id="@item?.Id">Delete</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}

@section Scripts
{
    <script>
        function Details(gameId) {
                window.location.href = '@Url.Action("Details", "Games")?id=' + gameId;
        }
    </script>
}