@model GameResponseModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="text-center">
    <h2>@Model.Name</h2>
    <div class="card h-100 w-75 mx-auto">
        <img class="card-img-top" src="@Model.PhotoPath" alt="Game image">
        <div class="card-body my-auto">
            <h5 class="card-title">@Model.NameRu / @Model.NameEn</h5>
            <p class="card-text">
                From @Model.MinPlayers to @Model.MaxPlayers participants<br/>
                Time: @Model.MinPlayTime - @Model.MaxPlayTime minutes<br/>
                <i>Required minimum age: @Model.MinAge</i><br/>
                <strong>Average rating: @Model.AverageRating</strong>
            </p>
            <div>
                <a class="btn btn-light" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
                <a class="btn btn-light" asp-action="Delete" asp-route-id="@Model?.Id">Delete</a>
                <a class="btn btn-secondary" asp-action="Index">Back to List</a>
            </div>
        </div>
        <div class="card-footer text-body-secondary">
            Released in @Model.YearOfRelease<br/>
        </div>
    </div>
</div>
