@using Duende.IdentityServer.Extensions
@model GameDetailsViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="text-center">
    <h2>@Model.Game.Name</h2>
    <div class="card h-100 w-75 mx-auto">
        <img class="card-img-top" src="@Model.Game.PhotoPath" alt="Game image">
        <div class="card-body my-auto">
            <h5 class="card-title">@Model.Game.NameRu / @Model.Game.NameEn</h5>
            <p class="card-text mb-4">
                From @Model.Game.MinPlayers to @Model.Game.MaxPlayers participants<br/>
                Time: @Model.Game.MinPlayTime - @Model.Game.MaxPlayTime minutes<br/>
                <i>Required minimum age: @Model.Game.MinAge</i><br/>
                <strong>Average rating: @Model.Game.AverageRating.ToString("#.##")</strong>
            </p>
            @if (User.IsAuthenticated())
            {
                <div class="my-3">
                    @if (Model.AvailableCollections.ToList().Count == 0)
                    {
                        <p>The game is already in your collections.</p>
                    }
                    else
                    {
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#addCollectionModal">Add to collection</button>
                    }
                </div>
            }
            <div>
                @if (User.IsInRole("admin"))
                {
                    <a class="btn btn-light" asp-action="Edit" asp-route-id="@Model.Game.Id">Edit</a>
                    <a class="btn btn-light" asp-action="Delete" asp-route-id="@Model.Game.Id">Delete</a>
                }
                <a class="btn btn-secondary" asp-action="Index">Back to List</a>
            </div>
            <div class="text-center d-flex">
                @if (Model.Rating == null)
                {
                    <form asp-controller="Games" asp-action="RateGame" method="post" class="ms-auto">
                        <input type="hidden" name="id" value="@Model.Game.Id">
                        <div class="d-flex mb-3">
                            <div class="rating choose">
                                <input id="star5" name="rating" type="radio" value="5" class="radio-btn hide"/>
                                <label for="star5">☆</label>
                                <input id="star4" name="rating" type="radio" value="4" class="radio-btn hide"/>
                                <label for="star4">☆</label>
                                <input id="star3" name="rating" type="radio" value="3" class="radio-btn hide"/>
                                <label for="star3">☆</label>
                                <input id="star2" name="rating" type="radio" value="2" class="radio-btn hide"/>
                                <label for="star2">☆</label>
                                <input id="star1" name="rating" type="radio" value="1" class="radio-btn hide"/>
                                <label for="star1">☆</label>
                                <div class="clear"></div>
                            </div>
                            <input type="submit" value="Rate" class="btn btn-warning"/>
                        </div>
                    </form>
                }
                else
                {
                    <div class="rating show-result ms-auto" disabled>
                        <input id="star5" name="rating" type="radio" value="5" class="radio-btn hide" disabled/>
                        <label for="star5">☆</label>
                        <input id="star4" name="rating" type="radio" value="4" class="radio-btn hide" disabled/>
                        <label for="star4">☆</label>
                        <input id="star3" name="rating" type="radio" value="3" class="radio-btn hide" disabled/>
                        <label for="star3">☆</label>
                        <input id="star2" name="rating" type="radio" value="2" class="radio-btn hide" disabled/>
                        <label for="star2">☆</label>
                        <input id="star1" name="rating" type="radio" value="1" class="radio-btn hide" disabled/>
                        <label for="star1">☆</label>
                        <div class="clear"></div>
                        <form asp-action="DeleteRating">
                            <input type="hidden" name="id" value="@Model.Rating.Id"/>
                            <input type="submit" value="Delete my rating" class="btn btn-secondary btn-sm"/>
                        </form>
                    </div>
                }
            </div>
        </div>
        <div class="card-footer text-body-secondary">
            Released in @Model.Game.YearOfRelease<br/>
        </div>
    </div>
</div>

<div class="modal fade" id="addCollectionModal" tabindex="-1" role="dialog" aria-labelledby="addCollectionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCollectionModalLabel">Add in collection</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form asp-controller="Collections" asp-action="AddGame">
              <input type="hidden" name="id" value="@Model.Game.Id"/>
              <div class="form-group">
                  <label for="collectionSelect">Example select</label>
                  <select class="form-control" id="collectionSelect" name="collectionId">
                      @foreach (var collection in Model.AvailableCollections)
                      {
                          <option value="@collection.Id">@collection.Name</option>
                      }
                  </select>
                </div>
              <input type="submit" value="Add to collection" class="btn btn-warning"/>
          </form>
      </div>
    </div>
  </div>
</div>

@section Scripts
{
    <script>
        document.addEventListener('DOMContentLoaded', function() {
                const starInputs = document.querySelectorAll('.show-result input[type="radio"]');
                
                const selectedStar = parseInt(@if (Model.Rating != null)
                                              {
                                                  @Model.Rating.Rating
                                              });
                starInputs[starInputs.length - selectedStar].checked = true;
            });
        
    </script>
}