@using Duende.IdentityServer.Extensions
@model IEnumerable<GameModel>

@{
    ViewBag.Title = "Games";
    Layout = "_Layout";
}
<div class="row">
    <h1 class="col-6">Games</h1>
    @if (User.IsInRole("admin"))
    {
        <p class="col-2 my-auto ms-auto">
            <a asp-action="Create" class="ms-auto btn btn-secondary px-4">Create New</a>
        </p>
    }
</div>
@if (Model.ToList().Count == 0)
{
    <p>There are no games yet :(</p>
}
else
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4 mb-3">
                <div class="card h-100 text-center" onclick="Details('@item.Id')" style="cursor: pointer">
                    <img class="card-img-top" src="@item.PhotoPath" alt="Game image">
                    <div class="card-body my-auto">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">
                            From @item.MinPlayers to @item.MaxPlayers participants<br/>
                            Time: @item.MinPlayTime - @item.MaxPlayTime minutes<br/>
                            <i>Required minimum age: @item.MinAge</i><br/>
                            <strong>Average rating: @item.AverageRating.ToString("#.##")</strong>
                        </p>
                        @if (User.IsInRole("admin"))
                        {
                            <div>
                                <a class="btn btn-light" asp-action="Edit" asp-route-id="@item?.Id">Edit</a>
                                <a class="btn btn-light" asp-action="Delete" asp-route-id="@item?.Id">Delete</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}
@section Scripts
{
    <script>
        function Details(gameId) {
                window.location.href = '@Url.Action("Details", "Games")?id=' + gameId;
        }
    </script>
}