@model List<GameRoundModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Rounds</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Game</th>
        <th scope="col">Date</th>
        <th scope="col">Place</th>
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Model.Count; i++)
    {
        <tr onclick="details('@Model[i].Id')" style="cursor: pointer">
            <th scope="row">@(i + 1)</th>
            <td><a href="" asp-controller="Games" asp-action="Details" asp-route-id="@Model[i].Game.Id">@Model[i].Game.Name</a></td>
            <td>@Model[i].Date.ToString("dd.MM.yyyy")</td>
            <td>@Model[i].Place</td>
        </tr>
    }
    </tbody>
</table>

@section Scripts
{
    <script>
        function details(id) {
                window.location.href = '@Url.Action("Details", "GameRounds")?id=' + id;
        }
    </script>
}